body {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

h2,
h3 {
  font-family: sans-serif;
  font-style: normal;
  margin-top: 1.5em;
}

h1 {
  font-size: 32px;
}

.tbl {
  border: 2px black;
}

figcaption {
  font-style: italic;
  font-weight: bold;
}
